.event-form-container {
    max-width: 60%;
    margin: 50px auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 25px 10px rgba(0.5, 0, 10, 0.5);
    border-radius: 5px;
}

.form-title {
    color: #141c64;
}

.event-form {
    display: flex;
    justify-content: space-between;
}

.form,
.right-bg {
    width: 50%;
}

.right-bg img {
    width: 30rem;

}

.form-inputs {
    width: 25rem;
}

.form-inputs input {
    padding: 0.5rem;
}

.sbt-button {
    width: 10rem;
    background: #141c64;
    color: white;
    font-weight: 600;
}

.sbt-button:hover {
    background-color: #141c64;
    color: white;
}

@media (max-width:900px){
    .right-bg{
        display: none;
    }
}